<button
  (click)="handleButtonClick()"
  class="group flex items-center gap-x-3 w-full text-left rounded-md p-2 leading-6 hover:bg-gray-100 cursor-pointer">
  @if(materialIcon){
    <div class="relative inline-flex items-center justify-center">
      <span class="material-symbols-outlined">
        {{ materialIcon }}
      </span>
      @if(hasNotification){
        <span class="absolute bottom-0 -right-1 w-3 h-3 bg-primaryColor border-none rounded-full"
              aria-label="You have notifications">
        </span>
      }
    </div>
  }
  <ng-content></ng-content>
</button>
