<article id="social-networks" class="mt-5 w-full items-center bg-white shadow-md rounded-lg p-4 pb-16 mb-8">
  <h1 class="text-2xl font-medium">Social networks & more</h1>
  <p class="mt-2 text-sm text-gray-600">
    All the social networks and external links you want to share
  </p>

  <h2 class="mt-2 text-xl font-medium">Social links</h2>

  @for(field of socialLinkFields; track field.index) {
    <app-field
      [label]="field.label"
      [placeholder]="field.placeholder"
      [type]="'text'"
      [control]="getSocialLinkControl(field.index)"
      [required]="false"
      [iconPath]="field.iconPath || ''"
      [name]="'socialLink_' + field.index">
    </app-field>
  }

  <h2 class="mt-4 text-xl font-medium">Other Links</h2>
  <div class="mt-2">
    <app-field
      [label]="otherLinkField.label"
      [placeholder]="otherLinkField.placeholder"
      [type]="'text'"
      [control]="getSocialLinkControl(otherLinkField.index)"
      [icon]="otherLinkField.icon || ''"
      [name]="'socialLink_' + otherLinkField.index">
    </app-field>
  </div>
</article>
