<section class="flex flex-col items-center justify-center gap-2 pt-32">

  <img src="img/logo-speaker-space.svg" alt="Logo speaker space not found"
       width="55px" height="55px" class="filter grayscale brightness-200" />


  <h1 class=" text-xl text-black text-center font-medium">Speaker Space</h1>
  <header class="flex flex-col items-center w-full pt-15">
    <h2 class="text-gray-900 text-3xl font-medium text-black mb-3">Not found</h2>
    <h3 class="text-gray-600 text-sm"> Whoops! That page doesn’t exist. </h3>
  </header>
  <a class="mt-8 inline-flex items-center justify-center gap-x-2 whitespace-nowrap rounded-md shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-white bg-indigo-600 hover:bg-indigo-500 h-9 px-3 py-2 text-sm font-medium" href="/">
    Go to Home
  </a>
</section>
