<app-navbar-event-page
  [eventUrl]="eventUrl"
  [eventId]="eventId"
  [eventName]="eventName"
  [teamId]="teamId">
</app-navbar-event-page>

<div class="px-10 sm:px-10 md:px-10 lg:px-10 xl:px-20 2xl:px-70 w-full">
  <main class="flex">
    <app-sidebar-event [eventId]="eventId"></app-sidebar-event>
    <section class="flex-1 p-4">
      @if (isLoadingPage) {
        <div class="flex justify-center items-center h-40">
          <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
        </div>
      }

      @if (error) {
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
          <p>{{ error }}</p>
        </div>
      }

      @if (canShowContent) {
        <form class="w-full mx-auto" (ngSubmit)="onSubmit()">
          <article class="w-full items-center bg-white shadow-md rounded-lg">
            <app-image-upload
              #imageUpload
              [config]="logoUploadConfig"
              [initialImageUrl]="initialImageUrl"
              [allowRemove]="true"
              [isExternalSaving]="isSavingImage"
              [isExternalDeleting]="isDeletingImage"
              (imageSelected)="onImageSelected($event)"
              (imageRemoved)="onImageRemoved()"
              (uploadError)="onImageUploadError($event)">
            </app-image-upload>

            <hr class="mt-6 rounded-lg w-[100%] mx-auto border-gray-200">

            @if (currentUserRole === 'Owner') {
              <footer class="flex justify-end mt-4 p-4">
                <button
                  type="submit"
                  [disabled]="isProcessing"
                  class="bg-action hover:bg-action-hover text-white px-4 py-2 rounded-md cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">
                  @if (isSavingImage) { Saving image... }
                  @else if (isSavingForm) { Saving... }
                  @else { Save }
                </button>
              </footer>
            }
          </article>
        </form>
      }
    </section>
  </main>
</div>
