<main class="relative bg-white h-[50px] w-full px-4 lg:px-8 flex justify-around items-center shadow-sm">
  <section class="flex items-center gap-4">
    <app-button-grey
      materialIcon="star"
      [buttonHandler]="events.bind(this)"
      [isActivePage]="activePage === 'team-page'"
      >
      Events
    </app-button-grey>
    <app-button-grey
      materialIcon="settings"
      [buttonHandler]="settings.bind(this)"
      [isActivePage]="activePage === 'settings'">
      Settings
    </app-button-grey>
  </section>
  <button class="bg-blue hover:bg-blue-hover text-blue-600 hover:text-blue-600 text-sm py-0.5 px-2 border border-blue-500 hover:border-blue-500 rounded-md cursor-pointer">
    Owner
  </button>
</main>
