@media (min-height: 900px) {
  .sticky-sidebar {
    max-height: 800px;
  }
}
.sticky-sidebar {
  position: sticky;
  top: 1rem;
  align-self: flex-start;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
}
