<button
  (click)="handleButtonClick()"
  [disabled]="disabled()"
  [class]="buttonClasses()"
  [attr.aria-label]="ariaLabel()">

  @if (materialIcon()) {
    <div class="relative inline-flex items-center justify-center">
      <span class="material-symbols-outlined" aria-hidden="true">
        {{ materialIcon() }}
      </span>

      @if (hasNotification()) {
        <span
          class="absolute bottom-0 -right-1 w-3 h-3 bg-primaryColor border-none rounded-full"
          [attr.aria-label]="notificationAriaLabel()"
          role="status">
        </span>
      }
    </div>
  }
  <ng-content/>
</button>
