<aside class="hidden lg:block bg-white p-4 w-70 ml-3 mt-4 shadow-md rounded-md sticky top-4 self-start max-h-screen overflow-y-auto">
  <app-button
    materialIcon="person"
    route="#personal-info"
    [customClass]="getSidebarButtonClasses('#personal-info')"
    [ariaLabel]="'Navigate to personal information section'"
    (itemClick)="navigateTo($event)">
    Personnal informations
  </app-button>

  <app-button
    materialIcon="description"
    route="#biography"
    [customClass]="getSidebarButtonClasses('#biography')"
    [ariaLabel]="'Navigate to biography section'"
    (itemClick)="navigateTo($event)">
    Biography
  </app-button>

  <app-button
    materialIcon="link"
    route="#social-networks"
    [customClass]="getSidebarButtonClasses('#social-networks')"
    [ariaLabel]="'Navigate to social networks section'"
    (itemClick)="navigateTo($event)">
    Social networks & more
  </app-button>
</aside>
