<aside class="hidden lg:block bg-white p-4 ml-3 mt-4 shadow-md rounded-md sticky top-4 self-start max-h-screen overflow-y-auto">
  <app-button-with-icon
    materialIcon="settings"
    route="#general"
    [customClass]="isActive('#general') ? 'bg-gray-100' : ''"
    (itemClick)="navigateTo($event)">
    General
  </app-button-with-icon>
  <app-button-with-icon
    materialIcon="groups"
    route="#members"
    [customClass]="isActive('#members') ? 'bg-gray-100' : ''"
    (itemClick)="navigateTo($event)">
    Members
  </app-button-with-icon>
  <app-button-with-icon
    materialIcon="favorite"
    route="#support-speaker-space"
    [customClass]="isActive('#support-speaker-space') ? 'bg-gray-100' : ''"
    (itemClick)="navigateTo($event)">
    Support Speaker Space
  </app-button-with-icon>
</aside>
