<div class="relative bg-primaryBlack h-[100px] md:h-[300px] w-full px-4 lg:px-8 flex flex-col lg:flex-row items-center justify-center">

  <div class="flex items-center gap-4 w-full md:w-auto md:absolute md:top-8 md:left-10 justify-center md:justify-start">
    <img src="img/logo-speaker-space.svg" class="h-12 md:h-20 brightness-0 invert" alt="Speaker Space Logo">
    <p class="text-white text-lg md:text-4xl">Speaker Space</p>
  </div>

  <div class="absolute top-14 right-20 hidden md:block">
    <a class="text-white text-2xl cursor-pointer">Login</a>
  </div>

  <p class="text-white text-4xl text-center mt-auto pb-12 md:pb-20 hidden md:block">
    Unified Space for Speaker informations
  </p>
</div>
