<article class="mt-5 w-full items-center bg-white shadow-md rounded-lg p-4 pb-16 mb-8">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
    <h1 class="text-2xl font-medium">Personal information</h1>
    <p class="mt-1 sm:mt-0 text-xs text-gray-600">
      Please note that if the data is modified, it is automatically saved !
    </p>
  </div>
  <p class="mt-2 text-sm text-gray-600">
    Informations used to contact you and complete your profile (all those informations where import from Conference Hall)
  </p>

  @for(field of formFields; track field.name) {
    <app-input
      [label]="field.label"
      [type]="field.type"
      [control]="getFormControl(field.name)"
      [name]="field.name">
    </app-input>
  }

  <div class="mt-5 flex items-center">
    <div class="flex-grow">
      <app-input
        [label]="additionalFields[0].label"
        [type]="additionalFields[0].type"
        [control]="getFormControl(additionalFields[0].name)"
        [name]="additionalFields[0].name">
      </app-input>
    </div>
    <div class="ml-4 flex flex-col items-center">
      <img [src]="userPhotoURL()"
           alt="Profile Picture"
           class="w-20 h-20 rounded-md border-3 border-white shadow-md object-cover"
           (error)="handlePictureError($event)" referrerpolicy="no-referrer" >
    </div>
  </div>

  <hr class="mt-6 rounded-lg w-[100%] mx-auto border-gray-200 px-4">
  <p class="mt-5 text-gray-500 text-sm">Additional information (not filled by Conference Hall)</p>

  <div class="mt-3">
    <app-input
      [label]="additionalFields[1].label"
      [type]="additionalFields[1].type"
      [control]="getFormControl(additionalFields[1].name)"
      [name]="additionalFields[1].name">
      <span labelSuffix class="font-normal text-gray-500 text-xs"> (not coming from Conference Hall)</span>
    </app-input>
  </div>
</article>
