<main class="flex flex-col mt-10 items-center" xmlns="http://www.w3.org/1999/html">
  <section class="w-full sm:w-4/5 max-w-5xl">
    <article class="w-full p-2 sm:w-4/5 max-w-5xl">
      <h1 class="text-2xl font-medium">Create a new conference.</h1>
      <p class="mt-2 text-sm text-gray-600">
        You will able to setup the call for paper later and make the event public or private.
      </p>
    </article>

    <article class="mt-5 w-full max-w-5xl flex-grow bg-white shadow-xs border border-gray-200 rounded-lg p-5">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        @for(field of formFields; track field.name) {
          <app-input
            [label]="field.label"
            [placeholder]="field.placeholder"
            [type]="field.type"
            [control]="getFormControl(field.name)"
            [name]="field.name">
          </app-input>
        }
        <article class="mt-20">
          <app-input
            [label]="additionalFields[0].label"
            [placeholder]="additionalFields[0].placeholder"
            [type]="additionalFields[0].type"
            [control]="getFormControl(additionalFields[0].name)"
            [name]="additionalFields[0].name">
          </app-input>
        </article>
        <hr class="mt-6 rounded-lg w-[100%] mx-auto border-gray-200">

        <div class="flex justify-end p-4">
          <app-button-grey
            type="button"
            [buttonHandler]="goBack.bind(this)"
            customTextClass="text-gray-600 hover:text-gray-600"
            class="rounded-md mr-5 text-sm inline-flex items-center gap-2 bg-white hover:bg-gray-100 border border-gray-300 cursor-pointer shadow-sm">
            Go back
          </app-button-grey>
          <app-button-green-actions [type]="'submit'" materialIcon="arrow_forward">
            Continue
          </app-button-green-actions>
        </div>
      </form>
    </article>
  </section>
</main>
