@charset "UTF-8";
@use "tailwindcss" as *;

@theme {
  --color-action: #045d5e;
}

:root {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #FBF8F9;
  --color-primary-black: #001021;
  --color-action: #034748;
  --color-action-hover: #045d5e;
  --color-primary-color: #1481BA;
  --color-secondary: #11B5E4;
  --color-tertiary: #0CAADC;
  --color-background: #FBF8F9;
  --color-button-black: #24292F;
  --color-button-red: #EA2533;
  --shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --color-text-invalidated-form: #dc0024;
  --color-button-grey: #F3F4F6;
  --color-button-blue: #EDF6FE;
  --color-button-blue-hover: rgba(212, 236, 246, 0.84);
}

.bg-primaryBlack { background-color: var(--color-primary-black)}
.bg-action { background-color: var(--color-action)}
.hover\:bg-action-hover:hover { background-color: var(--color-action-hover); }
.bg-primaryColor { background-color: var(--color-primary-color)}
.bg-secondary { background-color: var(--color-secondary)}
.bg-tertiary { background-color: var(--color-tertiary)}
.bg-background { background-color: var(--color-background)}
.bg-black {background-color: var(--color-button-black)}
.bg-red {background-color: var(--color-button-red); color: white}
.shadow { box-shadow: var(--shadow)}
.text-secondary { color: var(--color-secondary)}
.text-primaryColor { color: var(--color-primary-color)}
.border-secondary { border-color: var(--color-secondary)}
.bg-grey { background-color: var(--color-button-grey)}
.bg-blue { background-color: var(--color-button-blue)}
.hover\:bg-blue-hover:hover { background-color: var(--color-button-blue-hover); }
