<div class="mt-5">
  <div>
    <label [for]="name" class="block text-start text-md" [class.required]="required">
      {{ label }}
      <ng-content select="[labelSuffix]"></ng-content>
    </label>
    <label [for]="name" class="block text-start text-xs text-gray-600">
      {{ paragraph }}
      <ng-content select="[paragraphSuffix]"></ng-content>
    </label>
  </div>

  <div class="relative">
    @if(iconPath && !isSelect) {
      <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <span [innerHTML]="sanitizedIconPath"></span>
      </span>
    }@else if(hasIcon && !isSelect) {
      <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <span class="material-icons text-gray-500">{{ icon }}</span>
      </span>
    }

    @if(isSelect) {
      <select
        [id]="name"
        [name]="name"
        [formControl]="control"
        [disabled]="disabled"
        [attr.aria-required]="required"
        [attr.aria-invalid]="hasError"
        (blur)="onInputBlur()"
        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 sm:text-sm/6 resize-none"
        [class.border-red-300]="hasError"
        [class.outline-red-500]="hasError"
        [class.bg-gray-100]="disabled"
        >
      <option value="" disabled [selected]="!control.value">
        {{ effectivePlaceholder || 'Select an option' }}
      </option>

      @for(option of options; track option.value) {
        <option [value]="option.value">
          {{ option.label }}
        </option>
      }
      </select>
    } @else if(isTextarea) {
      <textarea
        [id]="name"
        [name]="name"
        [placeholder]="effectivePlaceholder"
        [formControl]="control"
        [disabled]="disabled"
        [attr.rows]="rows"
        [attr.aria-required]="required"
        [attr.aria-invalid]="hasError"
        (blur)="onInputBlur()"
        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600 sm:text-sm/6 resize-none"
        [class.pl-10]="hasIcon || iconPath"
        [class.border-red-300]="hasError"
        [class.outline-red-500]="hasError"
        [class.bg-gray-100]="disabled"
      ></textarea>
    } @else {
      <input
        [type]="type"
        [id]="name"
        [name]="name"
        [placeholder]="effectivePlaceholder"
        [formControl]="control"
        [disabled]="disabled"
        [attr.aria-required]="required"
        [attr.aria-invalid]="hasError"
        (blur)="onInputBlur()"
        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600 sm:text-sm/6"
        [class.pl-10]="hasIcon || iconPath"
        [class.border-red-300]="hasError"
        [class.outline-red-500]="hasError"
        [class.bg-gray-100]="disabled"
      />
    }
  </div>

  @if(hasError){
    <div class="mt-1 text-left">
      @for(message of errorMessages; track $index){
        <p class="text-sm text-red-600 flex items-center">
          <span class="material-icons text-red-600 mr-1 text-sm">error_outline</span>
          {{ message }}
        </p>
      }
    </div>
  }
</div>
