<app-navbar-team-page
  [teamUrl]="teamUrl"
  [teamId]="teamId"
  [teamName]="teamName">
</app-navbar-team-page>
<div class="px-10 sm:px-10 md:px-10 lg:px-10 xl:px-20 2xl:px-70 w-full">
  <main class="flex">
    <app-sidebar-team [teamId]="teamId"></app-sidebar-team>
    <section class="flex-1 p-4">
      @if (isLoading) {
        <div class="flex justify-center items-center h-40">
          <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
        </div>
      }

      @if (error) {
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
          <p>{{ error }}</p>
        </div>
      }

      @if (!isLoading && !error) {
        <form class="w-full mx-auto" (ngSubmit)="onSubmit()">
          <article class="w-full items-center bg-white shadow-md rounded-lg">
            <header class="p-4">
              <h1 class="text-xl font-medium">General</h1>
              <p class="mt-2 text-sm text-gray-600">
                Change team name and URL
              </p>

              @for(field of formFields; track field.name) {
                <app-input
                  [label]="field.label"
                  [type]="field.type"
                  [required]="field.required || false"
                  [control]="getFormControl(field.name)"
                  [name]="field.name">
                </app-input>
              }

            </header>
            <hr class="mt-6 rounded-lg w-[100%] mx-auto border-gray-200">
            @if (currentUserRole === 'Owner') {
              <footer class="flex justify-end mt-4 p-4">
                <button
                  type="submit"
                  class="bg-action hover:bg-action-hover text-white px-4 py-2 rounded-md cursor-pointer">
                  Save
                </button>
              </footer>
            }
          </article>

          @if (currentUserRole === 'Owner') {
            <app-danger-zone
              [config]="dangerZoneConfig"
              [isDeleting]="isDeleting"
              [currentUserRole]="currentUserRole"
              (deleteAction)="onDangerZoneDelete()">
            </app-danger-zone>
          }
        </form>
      }
      <app-delete-confirmation-popup
        [config]="deleteConfirmationConfig"
        [isOpen]="showDeleteConfirmation"
        [isDeleting]="isDeleting"
        (confirm)="onDeleteConfirmed()"
        (cancel)="onDeleteCancelled()">
      </app-delete-confirmation-popup>
    </section>
  </main>
</div>
