<app-navbar-profile></app-navbar-profile>
<main class="flex min-h-screen">
<aside class="hidden lg:block w-1/4 bg-white p-4 ml-3 mt-4 shadow-md rounded-md sticky top-4 self-start max-h-screen overflow-y-auto">
    <app-button-with-icon
      materialIcon="person"
      route="#personal-info"
      [customClass]="isActive('#personal-info') ? 'bg-gray-100' : ''"
      (itemClick)="navigateTo($event)">
      Personnal informations
    </app-button-with-icon>
    <app-button-with-icon
      materialIcon="description"
      route="#biography"
      [customClass]="isActive('#biography') ? 'bg-gray-100' : ''"
      (itemClick)="navigateTo($event)">
      Biography
    </app-button-with-icon>
    <app-button-with-icon
      materialIcon="link"
      route="#social-networks"
      [customClass]="isActive('#social-networks') ? 'bg-gray-100' : ''"
      (itemClick)="navigateTo($event)">
      Social networks & more
    </app-button-with-icon>
  </aside>

  <section class="flex-1 p-4">
    <article id="personal-info" class="flex justify-start items-center bg-white shadow-md p-4 rounded-md">
      <button class="bg-action hover:bg-action-hover text-white mr-3 px-2 py-2 rounded-md flex items-center gap-2 cursor-pointer">
        <span class="material-icons">cached</span>
      </button>
      <h1 class="text-xl">Refresh data with datas in Conference Hall</h1>
    </article>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <article class="mt-5 w-full items-center bg-white shadow-md rounded-lg p-4 pb-16 mb-8">
        <h1 class="text-2xl font-medium">Personnal informations</h1>
        <p class="mt-2 text-sm text-gray-600">
          Informations used to contact you and complete your profile (all those informations where import from Conference Hall)
        </p>
        @for(field of formFields; track field.name) {
          <app-input
            [label]="field.label"
            [staticPlaceholder]="field.staticPlaceholder"
            [type]="field.type"
            [control]="getFormControl(field.name)"
            [required]="field.required || false"
            [name]="field.name">
          </app-input>
        }

        <div class="mt-5 flex items-center">
          <div class="flex-grow">
            <app-input
              [label]="additionalFields[0].label"
              [type]="additionalFields[0].type"
              [control]="getFormControl(additionalFields[0].name)"
              [name]="additionalFields[0].name">
            </app-input>
          </div>
          <div class="ml-4 flex flex-col items-center">
            <img [src]="userPhotoURL || 'img/profil-picture.svg'"
                 alt="Profile Picture"
                 class="w-20 h-20 rounded-md border border-gray-200 shadow-md object-cover">
          </div>
        </div>
        <hr class="my-2 rounded-lg w-[100%] mx-auto border-gray-200 px-4">
          <p class="mt-5 text-gray-500 text-sm">Additional informations (not filled by Conference Hall)</p>
           <div class="mt-3">
             <app-input
               [label]="additionalFields[1].label"
               [type]="additionalFields[1].type"
               [control]="getFormControl(additionalFields[1].name)"
               [name]="additionalFields[1].name">
               <span labelSuffix class="font-normal text-gray-500 text-xs"> (not coming from Conference Hall)</span>
             </app-input>
          </div>
     </article>

      <article id="biography" class="mt-5 w-full items-center bg-white shadow-md rounded-lg p-4 pb-16 mb-8">
        <h1 class="text-2xl font-medium">Biography</h1>
        <p class="mt-2 text-sm text-gray-600">
          Biography that will be used in the final program (all those informations where import from Conference Hall)
        </p>
        <div class="mt-3">
          <app-input
            [label]="additionalFields[2].label"
            [type]="additionalFields[2].type"
            [control]="getFormControl(additionalFields[2].name)"
            [name]="additionalFields[2].name"
            [rows]="7"
            [customClass]="'!resize-none'">
              <span labelSuffix class="font-normal text-gray-500 text-xs"> (not coming from Conference Hall)</span>
          </app-input>
        </div>
      </article>

      <article id="social-networks" class="mt-5 w-full items-center bg-white shadow-md rounded-lg p-4 pb-16 mb-8">
        <h1 class="text-2xl font-medium">Social networks & more</h1>
        <p class="mt-2 text-sm text-gray-600">
          All the social networks and external link you want to share
        </p>
        <h2 class="mt-2 text-xl font-medium">Social links</h2>
        @for(field of formLinkFields; track field.name) {
          <app-input
            [label]="field.label"
            [placeholder]="field.placeholder"
            [type]="field.type"
            [control]="getFormControl(field.name)"
            [required]="field.required || false"
            [iconPath]="field.iconPath || ''"
            [name]="field.name">
          </app-input>
        }
        <div class="flex justify-start my-4">
          <app-button-with-icon
            customClass="!rounded-full border py-1.5 pr-4 border-gray-200 shadow-md"
            materialIcon="add"
            route="/"
            (itemClick)="navigateTo($event)">
            <span class="font-medium">Add new link</span>
          </app-button-with-icon>
        </div>
        <h2 class="mt-2 text-xl font-medium">Other Links</h2>
        <div class="mt-3">
          <app-input
            [type]="additionalFields[3].type"
            [control]="getFormControl(additionalFields[3].name)"
            [icon]="additionalFields[3].icon || ''"
            [name]="additionalFields[3].name">
          </app-input>
        </div>
        <div class="flex justify-start my-4">
          <app-button-with-icon
            customClass="!rounded-full border py-1.5 pr-4 border-gray-200 shadow-md"
            materialIcon="add"
            route="/"
            (itemClick)="navigateTo($event)">
            <span class="font-medium">Add new link</span>
          </app-button-with-icon>
        </div>
      </article>
    </form>
  </section>
</main>
