<article class="w-full flex-grow bg-white shadow-xs rounded-lg p-5">
  @if (showAutoSaveIndicator()) {
    <app-save-indicator
      [status]="saveStatus$ | async"
      position="bottom-right">
    </app-save-indicator>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @for (field of formFields(); track field.name) {
      <div class="mb-4">
        @if (getFormControl(field.name).hasError('required') && isSubmitted) {
          <p
            class="text-red-500 text-sm mt-1"
            [attr.aria-describedby]="field.name + '-error'"
            role="alert">
            This field is required
          </p>
        }

        @if ((field.name === 'name' || field.name === 'eventName') && isSubmitted) {
          @if (getFormControl(field.name).hasError('minlength')) {
            <p class="text-red-500 text-sm mt-1" role="alert">
              Name must be at least 2 characters long
            </p>
          }

          @if (getFormControl(field.name).hasError('maxlength')) {
            <p class="text-red-500 text-sm mt-1" role="alert">
              Name must not exceed 50 characters
            </p>
          }
        }

        <app-field
          [label]="field.label"
          [placeholder]="field.placeholder"
          [paragraph]="field.paragraph"
          [type]="field.type"
          [control]="getFormControl(field.name)"
          [name]="field.name"
          [required]="field.required"
          [options]="field.options || []"
          [disabled]="field.disabled"
          [attr.aria-invalid]="getFormControl(field.name).invalid && isSubmitted">
        </app-field>
      </div>
    }

    @if (showVisibilitySection()) {
      <app-visibility-selector [control]="visibilityControl" />
    }

    <app-timezone-selector [control]="timezoneControl" />

    @if (showGoBackButton()) {
      <hr class="mt-6 rounded-lg w-full mx-auto border-gray-200">

      <div class="flex justify-end p-4">
        <app-button
          type="button"
          (click)="onGoBack()"
          [customClass]="'text-gray-700 hover:text-gray-700 px-6 py-2 rounded-md mr-5 text-sm inline-flex items-center gap-2 bg-white hover:bg-gray-100 border border-gray-300 cursor-pointer shadow-sm'">
          Go back
        </app-button>

        <app-button
          type="submit"
          [customClass]="'flex items-center gap-2 bg-action hover:bg-action-hover disabled:bg-gray-400 disabled:cursor-not-allowed cursor-pointer text-white text-sm px-3 rounded-md transition-colors'"
          [materialIcon]="submitButtonIcon()">
          {{ submitButtonText() }}
        </app-button>
      </div>
    }
  </form>
</article>
