<main class="relative bg-white h-[50px] w-full px-4 lg:px-8 flex justify-around items-center shadow-sm">
  <section class="flex items-center gap-4">
    <app-button-grey
      materialIcon="star"
      [buttonHandler]="events.bind(this)"
      [route]="'/team/' + (teamUrl || teamId)"
      [isActivePage]="activePage === 'team-page'"
    >
      Events
    </app-button-grey>
    <app-button-grey
      materialIcon="settings"
      [buttonHandler]="settings.bind(this)"
      [isActivePage]="activePage === 'settings'"
    >
      Settings
    </app-button-grey>
  </section>
  <p class="bg-blue-50 text-blue-600 border-blue-500 text-sm py-0.5 px-2 border rounded-md">
    {{ currentUserRole }}
  </p>
</main>
